@charset "utf-8";


.preto-branco{
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
}
.main-conteudo{
    padding: 0;
}
.banner{
    background-image: url(../img/banner.jpg);
    background-repeat: repeat;
    background-position: center;
    height: 250px;  
    width: 100%;     
}
.esconder-titulo{
    display: none;
}
.menu{
    background-color: #f1bb55;
}
.menu-item{
    color: #004cef;
}
.menu-item:hover{
    color: #d5ee4a;
}
.active{
    background-color: #99883f;
}
#listamenu{
    list-style: none;
    padding: 0;
}
#listamenu li{
    display: inline;
}

.formulario{
    width: 100%;
}
.post1{
    background-color: #9b9e8b;
}
.h2-estilo{
    font-family: 'League Spartan', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    
}
.form-group{

    font-style: italic;
    padding-left: 14cm;
}
.h4{
    padding-left: 14cm;
}
.teste{
    padding-left: 14cm;
}
.teste2{
    padding-left: 14cm;
}
















