@charset "UTF-08";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    padding: 5px;
    
}


/* Area do Cadastro/Login */

#menucadastro ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100% auto;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 10%;
    width: 30em;
    margin-top: -2.5em;
    display: flex;
    flex-direction: row;
    font-family: "Montserrat", sans-serif;
}

#menucadastro li a{
    float: right;
    display: flex;
    color: black;
    text-align: center;
    padding: 20px 15px;
    text-decoration: none;
    flex-direction: row;
    justify-content: flex-start;
}

/* Fim do Cadastro/ Login */

/* Começo Logo ao Lado do Menu */

/* Fim da Logo */

/* Inicio das Box */

.container1 {
    height: 500px;
    background: #f2f2f2;
}


/* Box para demarcar img */

/*.box1{
    margin-top: 20px;
    float: left;
    height: 50%;
    width: 90%;
    padding: 5%;
    background: blue;
    color: #fff;
}*/

/* Fim da Box de Demarcação */


.box1{
    margin-top: 20px;
}

.container2 {
    height: 500px;
    background: #f2f2f2;
    overflow-y: auto;
}

.container3{
    height: 410px;
}

/* Box para demarcar img */

/*.box2{
    display: inline-block;
    height: 50%;
    width: 20%;
    padding: 5%;
    background: blueviolet;
    color: #fff;
}*/

/* Fim da Box de Demarcação */

.box2{
    display: inline-block;
}

/* Box para demarcar img */

/*.box3{
    display: inline-block;
    height: 50%;
    width: 20%;
    padding: 5%;
    background: black;
    color: #fff;
}*/

/* Fim da Box de Demarcação */

.box3{
    display:inline-block ;
}

#box{
    padding-left: 100px;
}

/* Fim das Box */

/* Inicio do Rodapé */

.rodape{
margin-top: 10px;
background-color: aqua;
height: 100px;
width: 100%;
}
.text-center{
    background-color: aqua;
    font-family: "Montserrat", sans-serif;
}

/* Fim do Rodapé */
.h2{
    font-family: "Montserrat", sans-serif;
}
.text-justify{
    font-family: "Montserrat", sans-serif;
}
form{
    padding: 12px;  
}
#container{
    width: 50px;
    height: 50px;
}


/*New*/

#nav-bar{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
#logoempresa{
    display: block;
    height: 36px;
    width: 36px;
}
.nav-item{
    padding: 12px;
    gap: 15px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}
.nav-item:hover{
    background-color: rgba(155, 155, 155, 0.315);
    
}
aside{
    height: auto;
}
footer{
    background-color: rgba(169, 169, 169, 0.308);
    height: 120px;

}

